body {
    padding-top: 70px;
    padding-bottom: 20px;
}

.btn-group-vertical {
    display: block;
}

#timing .btn-lg {
    width: 20%;
}

#logo {
    margin-bottom: 20px;
}

#mainContent {
    margin-bottom: 10px;
    min-height: 600px;
    position: relative;
}

#mainContent img {
    width: 100%;
}

#mainContent .dot {
    background: #888888;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
}

#subContent .actionBtn {
    margin: 0 auto;
    text-align: center;
    color: #000000;
    height: 120px;
}

#subContent .actionBtn a {
    color: #000000;
}

#subContent .actionBtn a:hover {
    color: #CCCCCC;
}

@-webkit-keyframes grow {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(0.5); }
    100% { -webkit-transform: scale(1); }
}

@-moz-keyframes grow {
    0% { -moz-transform: scale(1); }
    50% { -moz-transform: scale(0.5); }
    100% { -moz-transform: scale(1); }
}

@-ms-keyframes grow {
    0% { -ms-transform: scale(1); }
    50% { -ms-transform: scale(0.5); }
    100% { -ms-transform: scale(1); }
}

#mainContent .dot.active {
    background: #FF0000;
    -webkit-animation-name: grow;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    /* mozilla ff */
    -moz-animation-name: grow;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    /* microsoft ie */
    -ms-animation-name: grow;
    -ms-animation-duration: 2s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}

#image #subContent * {
    display: none;
}

#audio #mainContent {
    text-align: center;
    padding-top: 25%;
}

#subContent h4 {
    color: #00BDE8;
    text-align: center;
    margin: 0;
    padding: 0;
}

#mainContent .contentIcon {
    width: 150px;
}

#end #mainContent img {
    margin-top: 100px;
}